{% extends 'guest/base.html' %}

{% block content %}



    {% for user in friends %}
        <form method="POST" action="{% url "friends:remove" user.id %}">
            {% csrf_token %}


            <div class="Popular-Restaurants-grid wow fadeInRight animated" style="visibility: visible;">
                <div class="col-md-3 restaurent-logo">
                    <h3><a href="{% url "guest:profile" user.id %}">{{ user.first_name }} {{ user.last_name }}</a></h3>
                </div>

                <div class=" col-md-7 buy">

                    <input class="btn btn-info btn-lg" type="submit" value="Remove Friend"/>


                </div>
                <div class="clearfix"></div>


            </div>
        </form>

    {% endfor %}



   

{% endblock %}