{% extends 'manager/base.html' %}
{% load staticfiles %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/manager/tables.js' %}"></script>

{% endblock %}


{% block styles %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static "css/manager/tables.css" %}"/>



{% endblock %}


{% block content %}
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
        Add table
    </button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Add table</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Number of seats</label>
                        <input type="number" class="form-control" id="number-of-seats-input">
                    </div>


                </div>
                <div class="modal-footer">
                    <button id="add-table-btn" type="button" class="btn btn-primary" data-dismiss="modal">Add table
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>







    <div id="table-container">

    </div>



{% endblock %}